body {
	background: #667fca;
}

#content {
	background: #a1bad8;
	padding-top: 20px;
	padding-bottom: 30px;
}

#map {
	height: 60px;
	width: 80px;
	float: left;	
}

.img-ala {
	padding-top: 10px;
	padding-bottom: 40px;
	width: 70px;
	height: 130px;
}

.img-keel {
	width: 50px;
	height: 30px;
}

