

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.42857143;
    color: #333;
    
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    margin: 0;
	background: #667fca;
	height: 100.5em;
}

code,kbd,pre,samp {
	font-family: monospace, monospace;
	
}

	
body {
	display: block;
}


.navbar-default {
	background-color: #a1bad8;
	border-color: #e7e7e7;
	font-size: 1.2em;
}

.navbar {
	position: relative;
	min-height: 7em;
	margin-bottom: 1.250;
	margin-top: 9.375em;
	border: 0.063em solid transparent;
}


.container-fluid  {
	padding-right: 0.938em;
	padding-left: 0.938em;
	margin-right: auto;
    	margin-left: auto;
	
	
}



.nav > li {
  position: relative;
  display: block;
  background-color: transparent;
  padding: 1em 0.5em
  
}


.nav > li > a {
  position: relative;
  display: block;
  text-decoration: none;


}

@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: left;
    display: inline-block;
  }
  .navbar-right > li{
    float: right !important;
  }
}

.btn {
	float:left;
	font-size: 1.0em;
	text-decoration: none;
}



.btn:hover {
    background-color: grey; 
    color: white;
}

*, :after, :before {
    box-sizing: border-box;
}

.avaleht {
	position: relative;
	overflow: hidden;
}



 a {
	color: black;
}




