html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.42857143;
    color: #333;
    
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

body {
    margin: 0;
	
	background: -webkit-linear-gradient(#27409a, white);
	height: 1200px;
}

code,kbd,pre,samp {
	font-family: monospace, monospace;
	
}
* {
	box-sizing: border-box;
	}
	
body {
	display: block;
}


.navbar-default {
	background-color: #a1bad8;
	border-color: #e7e7e7;
	font-size: 1.2em;
}

.navbar {
	position: relative;
	min-height: 7em;
	margin-bottom: 20px;
	margin-top: 150px;
	border: 1px solid transparent;
}




.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

.navbar-left > li {
	float: left;
	margin-left: 10px;
}

.navbar-right > li {
	float: right;
	margin-right: -20px;
}


.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}


.nav > li {
  position: relative;
  display: block;
  background-color: #a1bad8;
  padding: 1em 0.5em
}


.nav > li > a {
  position: relative;
  display: block;
  ;

}

li a {
    color: #000;
    text-decoration: none;
	
}

li a:hover:not(.active) {
   color: white;
}


.btnlogin{
	position: auto;
	background-color: white;
	float: right;
	font-size: 20px;
	padding: 0.6em 0.5em;
	border-radius: 2px solid;
	margin-right: 50px;
	margin-top: 11px;
}

.btnlogin:hover {
    background-color: grey; 
    color: white;
}

*, :after, :before {
    box-sizing: border-box;
}

.avaleht {
	position: relative;
	owerflow: hidden;
}

#imglanguage {
	float: right;
	margin-right: -170px;
	margin-top: 20px;
	width: 50px;
	height: 30px;
}



